<p ng-if="conflict" align="center" class="conflict">
  This pages contains some merge conflicts. Please resolve these conflicts manually first.
</p>
<div class="header">
  <h2 class="title">Document Name:
    <document-title></document-title>
  </h2>

  <p ng-if="profile.enableWordsCount" class="words">Words:
    <span class="counter" ng-bind="words"></span>
  </p>
</div>