<div class="navbar">

  <a class="logo" href="/"><%- include ../../../../views/icons/logo %></a>

  <h1 class="navbar-brand">
    <a class="brand logo-text" href="/api">API DOCUMENTS</a>
  </h1>

  <nav class="nav nav-right">
    <ul class="menu menu-utilities">
      <li class="menu-item menu-item--export-as">
        <a class="dropdown-toggle" href="/">HOME</a>
      </li>
      <li class="menu-item menu-item--export-as">
        <a class="dropdown-toggle" ng-click="getApi('class_index.html')">Classes</a>
      </li>
      <!--
      <li class="menu-item menu-item--export-as">
        <a class="dropdown-toggle" ng-click="getApi('mixin_index.html')">Mixins</a>
      </li>
      -->
      <li class="menu-item menu-item--export-as">
        <a class="dropdown-toggle" ng-click="getApi('interface_index.html')">Interfaces</a>
      </li>
      <!--
      <li class="menu-item menu-item--export-as">
        <a class="dropdown-toggle" ng-click="getApi('namespace_index.html')">Namespaces</a>
      </li>
      -->
      <!--
      <li class="menu-item menu-item--export-as">
        <a class="dropdown-toggle" ng-click="getApi('module_index.html')">Modules</a>
      </li>
      -->
      <!--
      <li class="menu-item menu-item--export-as">
        <a class="dropdown-toggle" ng-click="getApi('external_index.html')">Externals</a>
      </li>
      -->
      <li class="menu-item menu-item--export-as">
        <a class="dropdown-toggle" ng-click="getApi('event_index.html')">Events</a>
      </li>
      <li class="menu-item menu-item--export-as">
        <a class="dropdown-toggle" ng-click="getApi('constant_index.html')">Constants</a>
      </li>
      <li class="menu-item menu-item--export-as">
        <a class="dropdown-toggle" ng-click="getApi('function_index.html')">Methods/Functions</a>
      </li>
      <li class="menu-item menu-item--export-as">
        <a class="dropdown-toggle" ng-click="getApi('global.html')">Global</a>
      </li>
      <li class="menu-item menu-item--export-as">
        <a class="dropdown-toggle" ng-click="getApi('file_index.html')">Files</a>
      </li>
      <li class="menu-item menu-item--export-as">
        <a class="dropdown-toggle" ng-click="getApi('doc-index.html')">Index</a>
      </li>
    </ul>
  </nav>
</div>
