<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h3>Let me introduce our team members:</h3>
</div>
<div class="modal-body about">
  <p>We take charge of developing in <a href="{{teamMembers.organization.url}}">{{teamMembers.organization.name}}</a> organization.</p>

  <h3>developers: </h3>
  <div>
    <ul ng-repeat="member in teamMembers.developers">
      <li>{{member.name}} &lt;{{member.id}}&gt;</li>
      <li ng-if="member.email">
        <a href="mailto:{{member.email}}"><i class="glyphicon glyphicon-envelope"></i>{{member.email}}</a></li>
      <li ng-if="member.url">
        <a href="{{member.url}}"><i class="glyphicon glyphicon-gift"></i>{{member.url}}</a>
      </li>
    </ul>
    <p ng-if="teamMembers.developers.length <= 0">
      There are not any developers so far.
    </p>
  </div>

  <h3>contributors: </h3>
  <div>
    <ul ng-repeat="member in teamMembers.contributors">
      <li>{{member.name}} &lt;{{member.id}}&gt;</li>
      <li ng-if="member.email">
        <a href="mailto:{{member.email}}"><i class="glyphicon glyphicon-envelope"></i>{{member.email}}</a>
      </li>
      <li ng-if="member.url">
        <a href="{{member.url}}"><i class="glyphicon glyphicon-gift"></i>{{member.url}}</a>
      </li>
    </ul>
    <p ng-if="teamMembers.contributors.length <= 0">
      There are not any contributors so far.
    </p>
  </div>

</div>