<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h3>Let me introduce our team members:</h3>
</div>
<div class="modal-body">
  <p>We take charge of front-end developing in ctrip cis dept.</p>
  <p>刘继超（lico） <a href="mailto:liujc@Ctrip.com">liujc@ctrip.com</a></p>
  <p>邵文广（swg） <a href="mailto:wgshao@Ctrip.com">wgshao@ctrip.com</a></p>
  <p>韩晨（han_c） <a href="mailto:han_c@Ctrip.com">han_c@ctrip.com</a></p>
</div>